/* ================ */
/*     Variables    */
/* ================ */
:root {
  --background-main: #edecea;
  --background-hover: hsla(0, 0%, 33%, 0.164);
  --text-color-100: hsl(194, 13%, 20%);
  --text-color-200: hsl(178, 14%, 55%);
  --text-color-300: hsl(171, 67%, 21%);
}

/* ================ */
/*      Reset       */
/* ================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================ */
/*  General Styles  */
/* ================ */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  background-color: #edecea;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #edecea; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #edecea; /* color of the scroll thumb */
  border-radius: 0px;
  border: 3px solid #edecea; /* creates padding around scroll thumb */
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color-100);
}

li {
  list-style: none;
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 120rem;
  margin-inline: auto;
}

/* ================ */
/*   Header Styles  */
/* ================ */
.header {
  height: 8vh;
  background-color: var(--background-main);
  display: flex;
  position: sticky;
  top: 0;
}

.header__logo {
  font-weight: bold;
  letter-spacing: 1px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  position: relative;
  padding: 0 1rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: all 0.3s ease;
}

.nav__link::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: var(--text-color-200);
  transition: all 0.4s ease;
}

.nav__link::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 3px;
  top: -5px;
  right: 0;
  background-color: var(--text-color-200);
  transition: all 0.4s ease;
}

.nav__link:hover {
  color: var(--text-color-200);
}

.nav__link:hover::after,
.nav__link:hover::before {
  width: 50%;
  height: 32px;
  background-color: var(--background-hover);
}

.nav__link--active {
  color: var(--text-color-300);
}

.nav__link--active::after,
.nav__link--active::before {
  padding: 0 50%;
}

/* ================ */
/*  Menu Hamburger  */
/* ================ */
.menu__hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu__hamburger:hover span {
  background-color: hsl(178, 14%, 55%);
}

.line-1,
.line-2,
.line-3 {
  width: 3.2rem;
  height: 3px;
  border-radius: 6px;
  /* display: block; */
  background-color: #3f4e4f;
  transition: all 0.4s ease-in;
  opacity: 1;
}

.line-1--active {
  transform: rotate(-45deg) translate(-6px, 8px);
  background-color: #ba3e29;
}
.line-2--active {
  opacity: 0;
  transform: translate(100%);
}
.line-3--active {
  transform: rotate(45deg) translate(-4px, -7px);
  background-color: #ba3e29;
}

/* ================== */
/*  Mobile Navigation */
/* ================== */
.nav__mobile {
  /* display: none; */
  position: absolute;
  top: 8vh;
  right: 0;
  height: 100vh;
  width: 50%;
  transform: translate(100%);
  background-color: hsla(192, 6%, 31%, 0.702);
  transition: all 0.4s linear;
}

.nav__mobile .nav__list {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav__mobile .nav__list .nav__link--mobile {
  position: relative;
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: all 0.3s ease;
  color: #edecea;
}

.nav__mobile .nav__list .nav__link--mobile::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: var(--text-color-200);
  transition: all 0.4s ease;
}

.nav__mobile .nav__link--mobile::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 3px;
  top: -5px;
  right: 0;
  background-color: var(--text-color-200);
  transition: all 0.4s ease;
}

.nav__mobile .nav__link--mobile:hover {
  color: var(--text-color-200);
}

.nav__mobile .nav__link--mobile:hover::after,
.nav__mobile .nav__link--mobile:hover::before {
  width: 50%;
  height: 37px;
  background-color: var(--background-hover);
}

.nav__mobile .nav__link--mobile--active {
  color: var(--text-color-300);
}

.nav__mobile .nav__link--mobile--active::after,
.nav__mobile .nav__link--mobile--active::before {
  padding: 0 50%;
}

.menu__mobile--active {
  transform: translateX(0);
}

/* ================ */
/*    Hero Styles   */
/* ================ */
.hero {
  background: url('img/hero-1.jpg') no-repeat left 80% top -50px;
  background-size: cover;
  height: 100vh;
}

/* ================ */
/*   Media Queries  */
/* ================ */
@media (min-width: 768px) {
  .menu__hamburger {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav__mobile {
    display: none;
  }
}

.text {
  height: 100vh;
}
