/* Resetar  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container  */
.container {
  border: 4px solid yellow;
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
.header {
  border: 4px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.pokemon-logo {
  border: 4px solid black;
  display: flex;
  align-items: center;
}

.pokemon-logo img {
  border: 4px solid red;
  width: 50px;
  margin-right: 10px;
}

.pokemon-texto {
  border: 4px solid magenta;
  /* margin-left: 10px; */
}

.name {
  border: 4px solid green;
}

.texto {
  border: 4px solid blue;
}

.btn {
  border: 4px solid aqua;
}

.btn img {
  width: 30px;
}

/* SECTION  */
.section {
  border: 4px solid brown;
}

.section .section-text {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 4px solid lightgreen;
}

.section .section-text p {
  border: 4px solid darkblue;
}
